   <div class="col-12 col-md-3 p-4"
           style="background-color: rgb(27 57 84); color: white; min-height: 100vh;
                  border-top-right-radius: 40px; border-bottom-right-radius: 40px;">
        <div class="text-center mb-4">
          <i class="bi bi-person-circle" style="font-size: 60px;"></i>
          <h5 class="mt-2">Customer Name</h5>
        </div>

        <ul class="list-unstyled ps-3">
          <a href="/profile"><li class="mb-3">My Profile</li></a>
          
      <a href="/profile/addressBook">    <li class="mb-3">Address Book</li></a>
          <li class="mb-3">My Orders</li>
          <li class="mb-3">My Wishlist</li>
          <li class="mb-3">Wallet</li>
          <li class="mb-3">Coupons</li>
        </ul>
      </div>