<!-- =================== FOOTER PARTIAL =================== -->
<!-- File: views/partials/footer.ejs -->
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Home</a></li>
          <li><a href="/shop" class="text-white">Shop</a></li>
          <li><a href="/about" class="text-white">About</a></li>
          <li><a href="/contact" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: support@hammercollection.com</p>
        <p>Phone: +91-9876543210</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-2"><i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <hr class="bg-white">
    <p>&copy; <%= new Date().getFullYear() %> Hammer Collection. All rights reserved.</p>
  </div>
</footer>

<!-- Customize footer links, icons, and contact info as needed -->
