
  <!-- <%-include('../partials/user/header')%> -->
<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: 'Arial', sans-serif;
    }

    .containerDS {
      background: url('https://i.pinimg.com/736x/6a/b8/b8/6ab8b81354d4a37dfb4fe9dc6a70ccf6.jpg') no-repeat center center/cover;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      color: #000;
    }

    .containerDS h1 {
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .containerDS p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .containerDS a {
      padding: 0.75rem 1.5rem;
      background-color: #000;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background 0.3s;
    }

    .containerDS a:hover {
      background-color: #333;
    }


      .containerDS p {
        font-size: 1rem;
      }
    
  </style>

<body>
  <div class="containerDS">
    <h1>404 Not Found</h1>
    <p>Your visited page not found. You may go home page.</p>
    <a href="/">Back to home page</a>
  </div>


  <!-- <%-include('../partials/user/footer')%> -->