
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hammer Collection</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/lineicons.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
 </head>
 <body>
 
    </div>
        <% if(!noHeader) { %>
            <%- include('../partials/admin/header') %> 
            <% } %>
            <% if(!noSideBar) { %>
              <%- include('../partials/admin/sideBar') %>
              <% } %>
            <main><%- body %></main>
                 <% if(!noFooter) { %>
                <%- include('../partials/admin/footer') %>
                <% } %>
            </div>
 </body>
 </html>

